#EXTENSIONS
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.srt
*.DS_Store
*.bat
*.db

#IDE
.idea/
*.swp
*.iml
*.komodoproject
*.sublime-*
*.vscode

#NODEJS
npm-debug.log

#PROJECT
node_modules/
src/public/bower_components
src/public/styles/css/themes

#CONFIG
.env