<div style="width: 100%" align="center">
  <h2>Conferences In-Progress</h2>
</div>
<div class="alert alert-info" ng-if="msg">
  {{msg}}
</div>
<div ng-repeat="conference in conferences | orderBy: 'sid'" ng-if="!msg">
  <md-card>
    <md-card-content>
      <p><b>Sid: </b>{{conference.sid}}</p>
      <p><b>Name: </b>{{conference.friendlyName}}</p>
      <p><b>Date Created: </b>{{conference.dateCreated}}</p>
      <p><b>Participants: </b>
      <div ng-repeat="participant in conference.participants | orderBy: '-callSid'" style="margin-left: 2vw">
        <p><b>Call Sid: </b>{{participant.callSid}}</p>
        <p><b>To: </b>{{participant.to}}</p>
        <md-button class="md-raised md-primary" ng-click="resumeCall(participant.callSid, conference)" 
          ng-if="participant.to.indexOf('sip:') > -1 && conference.friendlyName.indexOf('_User') > -1"  aria-label="ResumeButton">
          <label ng-if="participant.toUserText">Resume: {{participant.toUserText}}</label>
          <label ng-if="!participant.toUserText">Resume: {{participant.to.substr(4,3)}}</label>
        </md-button>
        <hr/>
      </div>
      </p>
    </md-card-content>
    <md-card-actions layout="row" layout-align="begin center" layout-padding>
      <md-label><b>Transfer:</b></md-label>
      <div ng-repeat="transfer in transferNumbers">
        <md-button class="md-primary ng-cloak" ng-disabled="transfer.status !== 'free'" 
          ng-click="joinConference(conference, transfer.number)" aria-label="transferButton">
          <label ng-if="transfer.user">{{transfer.user}}</label>
          <label ng-if="!transfer.user">{{transfer.text}}</label>
        </md-button>
      </div>
    </md-card-actions>
  </md-card>
</div>