<div style="width: 100%" align="center">
  <h2>Conferences In-Progress</h2>
</div>
<div class="alert alert-info" ng-if="msg">
  {{msg}}
</div>
<div ng-repeat="conference in conferences | orderBy: '-dateCreated'" ng-if="!msg">
  <md-card>
    <md-card-content>
      <p><b>Sid: </b>{{conference.sid}}</p>
      <p><b>Name: </b>{{conference.friendlyName}}</p>
      <p><b>Date Created: </b>{{conference.dateCreated}}</p>
      <p><b>Participants: </b>
      <div ng-repeat="participant in conference.participants | orderBy: '-callSid'" style="margin-left: 2vw">
        <p><b>Call Sid: </b>{{participant.callSid}}</p>
        <p><b>To: </b>{{participant.to}}</p>
        <md-button class="md-raised md-primary" ng-click="resumeCall(participant.callSid, conference.friendlyName)" 
          ng-if="participant.to.indexOf('sip:') > -1" >Resume: {{participant.to.substr(4,3)}}
        </md-button>
        <hr/>
      </div>
      </p>
    </md-card-content>
    <md-card-actions layout="row" layout-align="begin center" layout-padding>
      <md-label><b>Transfer:</b></md-label>
      <div ng-repeat="transfer in transferNumbers">
        <md-button class="md-primary" ng-disabled="transfer.status !== 'free'" 
          ng-click="joinConference(conference.friendlyName, transfer.number)">
          {{transfer.text}}
        </md-button>
      </div>
    </md-card-actions>
  </md-card>
</div>