<br/>
<div class="alert alert-warning" ng-if="msg">
  {{msg}}
</div>
<div style="margin-top: 2vh;">
  <div ng-repeat="user in users">
    <div class="statusBall" ng-class="[user.status == 'free' ? 'freeUser' : 'busyUser', 
      user.text == selectedUser.text ? 'border' : '']"></div>
    <div ng-class="user.text != selectedUser.text ? 'statusText tooltip-container' : 'statusText'">
      <div ng-if="user.text != selectedUser.text && selectedUser && user.status == 'free'">
        <div ng-if="selectedUser.status == 'free' && selectedUser">
          <label ng-if="user.user" ng-click="call(user.number, selectedUser.number);">
            {{user.user}}
          </label>
          <span ng-if="user.user" class="tooltiptext">Call {{user.user}}</span>

          <label ng-if="!user.user" ng-click="call(user.number, selectedUser.number);">
            {{user.text}}
          </label>
          <span ng-if="!user.user" class="tooltiptext">Call {{user.text}}</span>
        </div>
        <div ng-if="selectedUser.status == 'busy'">
          <label ng-if="user.user" ng-click="joinConference(user.number);">{{user.user}}</label>
          <span ng-if="user.user" class="tooltiptext">Transfer {{user.user}}</span>
          <label ng-if="!user.user" ng-click="joinConference(user.number);">{{user.text}}</label>
          <span ng-if="!user.user" class="tooltiptext">Transfer {{user.text}}</span>
        </div>
        <div ng-if="selectedUser.status != 'free' && selectedUser.status != 'busy'">
          <label ng-if="user.user">{{user.user}}</label>
          <label ng-if="!user.user">{{user.text}}</label>
        </div>
      </div>
      <div ng-if="user.text == selectedUser.text || !selectedUser || user.status == 'busy'">
        <label ng-if="user.user">{{user.user}}</label>
        <label ng-if="!user.user">{{user.text}}</label>
      </div>

      <md-button class="md-raised md-primary" ng-if="user.friendlyName.indexOf('_User') > -1"
        aria-label="ResumeButton"  ng-click="resumeCall(user.callSid, user.friendlyName, user.conferenceSid)" >
        <label>Resume: {{user.text}}</label>
      </md-button>
    </div>
  </div>
</div>
<div style="margin-top: 10vh; width: 70vw">
  <label>Dial Number: </label>
  <input type="text" class="form-control" ng-model="phoneNumber">
  <md-button class="md-raised md-primary" aria-label="ResumeButton"  ng-click="callNumber(phoneNumber, selectedUser.text)" >
    <label>Call</label>
  </md-button>
</div>